<div class="post-create-form">
  <div style="float: right; margin-bottom: 30px;" *ngIf="postItems.controls.length === 0">
    <button class="btn" (click)="addPostItem()"> Create New Post </button>
  </div>
  <div class="post-form-wrapper" *ngIf="postItems.controls.length > 0">
    <form [formGroup]="postForm" (ngSubmit)="submitPosts()" novalidate>
      <div formArrayName="postItems">
        <div *ngFor="let post of postItems.controls; let i=index" [formGroupName]="i">
          <div class="postItem">
            <div style="position: relative">
              <button class="btn" (click)="removePostItem(i)" style="position: absolute; left: 0;">Remove</button>
              <h3 style="text-align: center;">Post {{ i+1 }}</h3>
            </div>
            <div class="inputfield">
              <input formControlName="title" placeholder="Enter post title"/>
              <div *ngIf="post.get('title').invalid && (postFormSubmitted || post.get('title').dirty || post.get('title').touched)">
                <span *ngIf="post.get('title').errors.required" class="error-text">
                  This field is required
                </span>
              </div>
            </div>
            <div class="inputfield">
              <textarea formControlName="description" placeholder="Enter Post description..."></textarea>
              <div *ngIf="post.get('description').invalid && (postFormSubmitted || post.get('description').dirty || post.get('description').touched)">
                <span *ngIf="post.get('description').errors.required" class="error-text">
                  This field is required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <button class="btn" type="submit">{{ postItems.controls.length > 1 ? 'Save All' : 'Save' }}</button> &nbsp;&nbsp;
        <button class="btn" type="button" (click)="addPostItem()">Add Extra Post</button> &nbsp;&nbsp;
      </div>
    </form>
  </div>
</div>
<div class="search">
  <input [(ngModel)]="q" placeholder="Search an Article..." (keyup)="search()" autofocus/>
</div>
<section class="post-list">
  <article class="post" *ngFor='let post of posts; let i = index'>
    <div class="post-content" *ngIf="post.show === undefined || post.show === true">
      <a routerLink="/posts/{{ post.id }}">
        <h2 class="title">#{{ i+1 }} {{ post.title }}</h2>
      </a>
      <p class="description">{{ post.excerpt() }} <br /><a class="btn" routerLink="/posts/{{ post.id }}">READ MORE</a></p>
      <br>
      <div class="author">
        <span>Wrote by <b>{{ user(post.id).name }}</b></span>
      </div>
    </div>
  </article>
  <div *ngIf="!loading && !searchedPostsCount()">
    No posts found for search: <b>{{ this.q }}</b>
  </div>
  <div class="align-center" *ngIf="loading">
      Loading Articles...
    </div>
</section>
