/* Typography */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

input, textarea, select {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* Header */
.app-header .navbar-brand{
    color: white;
}

.app-header .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.app-header .content > div {
    width: 33%;
}

.app-header .content .search form,
.app-header .content .search form input { width: 100%;}

.app-header .content .account > a {
    margin-right: 10px;
}

/* Helpers */
.field-error {
  margin: 10px 0px;
}
.field-error > div {
  margin: 2px 0;
}
