/* Typography */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

input, textarea, select {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* Header */
.app-header .navbar-brand{
    color: white;
}

.app-header .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.app-header .content > div {
    width: 33%;
}

.app-header .content .search form,
.app-header .content .search form input { width: 100%;}

.app-header .content .account > a {
    margin-right: 10px;
}

/* post form */
.post-form-thumbnail-wrap {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  position: relative;
}

.post-form-thumbnail-wrap .fa {
  position: absolute;
  right: 0;
  top: 0;
  color: red;
  font-size: 30px;
}

#post-form-thumbnail-wrap img {
  display: block;
  max-width: 100%;
}

/* Helpers */
.field-error {
  margin: 10px 0px;
}
.field-error > div {
  margin: 2px 0;
}
